.about {
  margin-top: 30px;
  margin-bottom: 3rem;
  max-width: 40vw;
}

.about-lead {
  font-size: 5.3125rem;
  line-height: 5rem;
  margin-bottom: 15px;
}

.custom-color {
  color: #ffbf57;
}

.about-desc {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.about-socials-link {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.socials-button {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
}

.socials-icon {
  width: 25px;
  height: 25px;
}

.glitch {
  position: relative;
  animation: glitch 2s infinite;
}

@keyframes glitch {

  2%,
  64% {
    transform: skew(-5deg);
  }

  4%,
  60% {
    transform: skew(5deg);
  }
}