#root {
  background-color: #1d2939;
  color: #fff;
}

.main-container {
  padding: 15px;
}

.about-and-stack-flex {
  display: flex;
  flex-direction: row;
}

.main-container-about-section {
  min-width: 400px;
}